{% extends "layout.html" %}

{% block title %}
   History
{% endblock %}

{% block main %}
   <table class="table table-striped" style="width:100%">
     <thead>
      <tr>
        <th>Symbol</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Transacted</th>
        </thead>
      </tr>
    {% for history in histories %}
      <tr>
        <td>{{ history["symbol"] }}</td>
        <td>{{ history["shares"] }}</td>
        <td>{{ history["price"]}}</td>
        <td>{{ history["transacted"] }}</td>
      </tr>
    {% endfor %}
      <tr>
    </table>

{% endblock %}
